<div data-ng-controller="DashboardController" class="row">
   <!-- START dashboard content-->
   <div class="fw-boxed col-lg-12">
       <div class="row">
          <div class="col-md-12 guides">
              <div class="col-md-3">
                  <div class="widget-box">
                      <div class="widget-container">
                          <div class="widget-heading"></div>
                          <div class="widget-body">
                              <span class="label font-montserrat fs-11">GUIDE</span>
                              <h3>Let us guide you</h3>
                          </div>
                          <div class="widget-footer"></div>
                          <div data-back-img="app/img/goblinguide.jpg" class="background"></div>
                      </div>
                  </div>
              </div>
              <div class="col-md-3">
                  <div class="widget-box">
                      <div class="widget-container">
                          <div class="widget-heading"></div>
                          <div class="widget-body">
                              <span class="label font-montserrat fs-11">FAQ</span>
                              <h3>to the other side</h3>
                          </div>
                          <div class="widget-footer"></div>
                          <div data-back-img="app/img/treasurecruise.jpg" class="background"></div>
                      </div>
                  </div>
              </div>
              <div class="col-md-3">
                  <div class="widget-box">
                      <div class="widget-container">
                          <div class="widget-heading"></div>
                          <div class="widget-body">
                              <span class="label font-montserrat fs-11">HELP</span>
                              <h3>of the road and</h3>
                          </div>
                          <div class="widget-footer"></div>
                          <div data-back-img="app/img/digthroughtime.jpg" class="background"></div>
                      </div>
                  </div>
              </div>
              <div class="col-md-3">
                  <div class="widget-box">
                      <div class="widget-container">
                          <div class="widget-heading"></div>
                          <div class="widget-body">
                              <span class="label font-montserrat fs-11">GUIDE</span>
                              <h3>into the light</h3>
                          </div>
                          <div class="widget-footer"></div>
                          <div data-back-img="app/img/ugin.jpg" class="background"></div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-12 actions" data-ng-hide="loggedIn">
              <button type="button" class="mr mb-sm btn btn-primary btn-sm" ng-click="registerpage()">Sign-up</button>
              <button type="button" class="mr mb-sm btn btn-primary btn-sm" ng-click="loginpage()">Login</button>
          </div>
           <div class="col-md-12 actions" data-ng-show="loggedIn">
              <button type="button" class="mr mb-sm btn btn-primary btn-sm" ng-click="logout()">Logout</button>
          </div>
       </div>    
   </div>
   <div ng-class="{'col-lg-9':sidebar, 'col-lg-12':!sidebar}" class="fw-boxed">
      <div class="row">        
        <div class="col-md-12 posts advancedSearch ng-hide animated fadeInLeft" ng-show="checked">
            <div class="panel panel-default">
               <div class="panel-heading">
                  <div class="panel-title">Advance Search</div>
               </div>
               
            </div>
         </div>
      </div>
      
      <div class="row">
        <div class="col-md-12 posts">
            <div class="panel panel-default">
               <div class="panel-heading">
                  <button type="button" class="help-btn mr btn btn-labeled btn-info btn-sm pull-right" ng-click="help('post')">
                    <span class="btn-label"><i class="fa fa-question"></i></span>Help
                  </button>
                  <div class="panel-title">Posts</div>
               </div>
                
               <div ng-hide="posts" class="text-center loading-container">
                   <h3>
                        <i data-ng-hide="stopLoading" class="fa fa-spinner fa-spin"></i>{{loadingStatus}}
                   </h3>
                   <br/>
               </div>
               <!-- List group -->
               <ul class="list-group">
                  <li id="{{post.id}}" ng-repeat="post in posts" ng-class="{closed:(post.status == 2)}" class="list-group-item" ng-click="onPostSelect(post)" on-finish-render="" title="{{(post.verify==1) ? 'Verified':'Unverified'}} User Post">
                     <div class="media">
                        <div class="pull-left">
                           <!-- Contact avatar-->
                           <div class="point-pin">
                              <a href="#">
                                 <img src="http://www.gravatar.com/avatar/{{md5(post.email)}}" alt="Image" class="media-object img-circle thumb32" />
                              </a>
                              <div data-ng-class="{'point-success':(post.verify==1), 'point-danger':(post.verify==0)}" class="verification point point-lg"></div>
                           </div>
                        </div>
                        
                        <!-- post time -->
                        <div class="pull-right">
                            <span am-time-ago="{{post.created}}"></span>
                        </div>
                         
                        <!-- Contact info-->
                        <div class="media-body">
                           <div class="media-heading">
                              <p class="post-title mb-sm">
                                 <strong>
                                     <a href="#" class="text-inverse">
                                         <span data-ng-show="(post.status == 2)">(closed)</span>
                                         {{post.title}}
                                     </a>
                                 </strong>-
                                 <em class="text-muted">{{post.email}}</em>
                              </p>
                              <p class="post-content">{{post.content}}</p>
                              <small ng-repeat="card in displayCards(post.cards)" class="card-list text-muted">{{card}}{{$last ? '':', '}}</small>
                           </div>
                        </div>
                     </div>
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </div>
   <!-- END dashboard content-->
   <!-- START dashboard sidebar-->
   <aside ng-show="sidebar" class="col-lg-3 fw-boxed">
      <div class="row">
         <div class="col-lg-12 col-md-6 news">
            <div class="panel panel-info">
               <div class="panel-heading">
                  <div class="panel-title bg-info">
                     <em class="icon-clock fa-lg pull-right text-muted"></em>News</div>
               </div>
               <ul class="list-group">
                  <li class="list-group-item">
                     <div class="media">
                        <a href="#" class="media-left media-middle text-muted">
                           <em class="fa fa-lightbulb-o fa-2x"></em>
                        </a>
                        <div class="media-body">
                           <p class="media-heading text-bold">Beta launch!</p>
                           <p>Still more to come!</p>
                        </div>
                     </div>
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </aside>
</div>