<div class="detail panel panel-default">
    <div class="panel-heading">
        <button type="button" class="mr btn btn-labeled btn-info btn-sm pull-right" ng-click="help('post')">
            <span class="btn-label"><i class="fa fa-question"></i></span>Help
        </button>
        <h1>{{post.title}}</h1>
        <small>{{post.email}}</small>
    </div>
    <div class="panel-body">
        <p>{{post.content}}</p>
        <div class="table-responsive">
           <table class="card-list table table-striped table-bordered table-hover">
              <tbody>
                 <tr ng-repeat="card in post.cards">
                    <td>
                       <div class="media">
                          <a href="#" class="media-left media-middle">
                             <img src="http://mtgimage.com/card/{{card.name}}.jpg" alt="" class="thumb48 media-object img-responsive img-circle">
                          </a>
                          <div class="media-body">
                             <h4 class="media-heading">{{card.name}}</h4>
                             <span class="text-muted">Quantity: {{card.quantity}}, Price: {{money(card.price)}}/each</span>
                          </div>
                       </div>
                    </td>
                    <td class="text-center">
                       
                    </td>
                 </tr>
              </tbody>
           </table>
        </div>
    </div>
</div>